/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#ddc645;
    color: #fff;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-right {
    display: flex;
    align-items: center;
}

.btn-reserva {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
}

.btn-reserva:hover {
    background-color: #ff4500;
}

.contato, .horario, .redes-sociais, .idioma {
    margin-right: 20px;
}

.contato span, .horario span {
    display: block;
}

.redes-sociais a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

.redes-sociais a:hover {
    color: #ff6347;
}

.idioma select {
    padding: 5px;
    border-radius: 5px;
    border: none;
}


button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}