<header>
    <div class="logo">
        <a href="/"><img src="/style/Logo.png" alt="Logo do Restaurante"></a>
    </div>

    <nav>
        <ul>
            <li><a href="/" class="button-home">Home</a></li>
        </ul>
    </nav>
    <div class="header-right">

        <div class="horario">
            <span>Funcionamento: Seg-Dom / 18:00 - 22:00</span>
        </div>
        <div class="redes-sociais">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</header>